@import "../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.header-component {
  text-align: center;
  color: $white;

  .name-title {
    font-family: "Comfortaa", cursive;
    font-size: 15vw;
    color: $blue-border;
  }
}
