@import "../colors.scss";
@mixin link-mixin {
  color: $light-grey-text;
  transition: color 0.1s ease-in;
  text-decoration: none;

  &:hover {
    color: #4bfeff;
  }
}

.contact-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: $white;

  .header {
    width: fit-content;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px solid $blue-border;
    padding-bottom: 4px;
    margin-bottom: 32px;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 56px;
    }
  }

  .contact-container {
    width: 50%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blue-background;
    padding: 32px;
    margin: 16px 16px 80px;
    line-height: 32px;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 32px;
      width: 100%;
    }

    .contact-item {
      display: flex;
      align-items: center;
      width: max-content;
      margin-bottom: 8px;
      color: $light-grey-text;

      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        margin-bottom: 32px;
      }

      .icon {
        width: 25px;
        height: 25px;
        margin-right: 16px;

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          width: 50px;
          height: 50px;
        }
      }
    }

    .link {
      @include link-mixin;
    }

    .resume-button {
      background-color: $black-dark;
      padding: 8px 24px;
      align-self: center;

      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        padding: 24px 48px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .link {
    @include link-mixin;
  }
}
