.home-page-component {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-component-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    margin-bottom: 32px;
    z-index: 3;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      height: 128px;
    }
  }

  .header-component-wrapper {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 10%;
  }

  #about-component-wrapper {
    width: calc(min(100%, 800px));
    margin: 64px 80px;
  }

  #projects-component-wrapper {
    margin: 64px;
  }

  #contact-component-wrapper {
    width: 100%;
    margin: 64px;
  }
}
