@import "../colors.scss";

.about-component {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  border-left: 2px solid $blue-border;
  padding: 0 24px;

  .header {
    width: fit-content;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px solid $blue-border;
    padding-bottom: 4px;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 56px;
    }
  }

  .p-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .about-text {
      padding: 32px;
      margin-top: 88px;
      background-color: $blue-background;
      transition: box-shadow 0.3s;
      z-index: 0;
      flex-shrink: 1;
      font-size: x-large;
      color: $light-grey-text;
      border-radius: 8px;

      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        font-size: 32px;
      }

      &:hover {
        box-shadow: 0 0 16px 2px $box-shadow;
      }
    }

    .profile-img {
      width: 272px;
      height: 332px;
      margin-left: -30px;
      flex-shrink: 0;
      transition: box-shadow 0.3s;
      border-radius: 8px;

      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        width: 435px;
        height: 544px;
      }

      &:hover {
        box-shadow: 0 0 16px 4px $box-shadow;
      }
    }
  }
}
