.projects-component {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: fit-content;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px solid #025e9b;
    padding-bottom: 4px;
    margin-bottom: 48px;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 56px;
    }
  }

  .projects-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    color: white;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }

    @media (max-width: 880px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #203a4b;
      padding: 32px;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.2);
      }

      .name {
        align-self: center;
        font-size: larger;
        font-weight: 800;
        padding-bottom: 4px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgb(190, 190, 190);
        text-align: center;

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          font-size: 40px;
        }
      }

      .description {
        flex-grow: 1;
        padding-bottom: 24px;
        line-height: 24px;
        color: rgb(212, 212, 212);

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          font-size: 32px;
          line-height: normal;
          padding: 0 40px 40px;
        }
      }

      .technologies-container {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        color: rgb(190, 190, 190);
        flex-grow: 0;
        padding-bottom: 16px;

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          justify-content: center;
        }

        .technology {
          font-size: smaller;
          padding-right: 16px;

          @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
            font-size: 24px;
          }
        }
      }

      .git-link {
        align-self: center;
        border-radius: 50%;
        margin-top: 16px;

        .icon {
          width: 30px;
          height: 30px;

          @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
