@import "../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

.projects-component {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: fit-content;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px solid $blue-border;
    padding-bottom: 4px;
    margin-bottom: 48px;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 56px;
    }
  }

  .projects-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    color: $white;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }

    @media (max-width: 880px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $blue-background;
      padding: 32px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }

      .name {
        align-self: center;
        font-size: larger;
        font-weight: 800;
        padding-bottom: 4px;
        margin-bottom: 24px;
        border-bottom: 1px solid $white;
        text-align: center;

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          font-size: 40px;
        }
      }

      .description {
        flex-grow: 1;
        padding-bottom: 24px;
        line-height: 24px;
        color: $light-grey-text;

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          font-size: 32px;
          line-height: normal;
          padding: 0 40px 40px;
          text-align: center;
        }
      }

      .technologies-container {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        color: $dark-grey-text;
        flex-grow: 0;
        padding-bottom: 16px;

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          justify-content: center;
        }

        .technology {
          font-family: "Source Code Pro", monospace;
          font-size: small;
          padding-right: 16px;

          @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
            font-size: 24px;
          }
        }
      }

      .git-link {
        align-self: center;
        border-radius: 50%;
        margin-top: 16px;

        .icon {
          width: 30px;
          height: 30px;

          @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
